{% include 'base.html' %}

<body style="overflow-x: hidden">
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">About Us</h1>
      <p class="lead my-3">
        We started this organization from the underground and our mission is to
        help you represent your music to the world.
      </p>
    </div>
  </div>

  <div class="bg-white py-5">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1">
          <h2 class="font-weight-light">TUNE.IN</h2>
          <p class="lead text-muted">
            In all that we do, we are focused on creativity, advancement, and
            business enterprise. We possess and work an expansive cluster of
            organizations occupied with recorded music, music distributing,
            promoting, and varying media content in excess of 60 nations.
          </p>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
          <img
            src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg"
            alt=""
            class="img-fluid mb-4 mb-lg-0"
          />
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto">
          <img
            src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg"
            alt=""
            class="img-fluid mb-4 mb-lg-0"
          />
        </div>
        <div class="col-lg-6">
          <p class="lead text-muted">
            We recognize and create recording specialists and lyricists, and we
            deliver, disseminate and advance the most widely praised and
            industrially effective music to enchant and engage fans the world
            over.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-light py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-5">
          <h2 class="display-7 font-weight-light">Our team</h2>
          <p class="font-italic text-muted">
            Meet our outstanding team members
          </p>
        </div>
      </div>

      <div class="row text-center">
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4">
            <img
              src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png"
              alt=""
              width="100"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
            />
            <h5 class="mb-0">Cyrstal Shrestha</h5>
            <span class="small text-uppercase text-muted">CEO - Founder</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item">
                <a href="#" class="social-link"
                  ><i class="fa fa-facebook-f"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="social-link"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="social-link"
                  ><i class="fa fa-instagram"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="social-link"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End-->
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4">
            <img
              src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png"
              alt=""
              width="100"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
            />
            <h5 class="mb-0">Manuella Nevoresky</h5>
            <span class="small text-uppercase text-muted">Director</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item">
                <a href="#" class="social-link"
                  ><i class="fa fa-facebook-f"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="social-link"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="social-link"
                  ><i class="fa fa-instagram"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="social-link"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End-->
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4">
            <img
              src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png"
              alt=""
              width="100"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
            />
            <h5 class="mb-0">Tom Sunderland</h5>
            <span class="small text-uppercase text-muted">President</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item">
                <a href="#" class="social-link"
                  ><i class="fa fa-facebook-f"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="social-link"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="social-link"
                  ><i class="fa fa-instagram"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="social-link"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4">
            <img
              src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png"
              alt=""
              width="100"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
            />
            <h5 class="mb-0">John Tarly</h5>
            <span class="small text-uppercase text-muted">Crew Member</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item">
                <a href="#" class="social-link"
                  ><i class="fa fa-facebook-f"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="social-link"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="social-link"
                  ><i class="fa fa-instagram"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="social-link"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End-->
      </div>
    </div>
  </div>
</body>
<footer class="bg-light pb-3 py-3">
  <div class="container text-center">
    <p class="font-italic text-muted mb-0">
      &copy; Copyrights tune.in All rights reserved.
    </p>
  </div>
</footer>
