{% include 'base.html' %}

<body style="overflow-x: hidden">
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Blogs</h1>
      <p class="lead my-3">
        Informing new readers quickly and efficiently about what's most
        interesting in the music industry.
      </p>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-12 mx-auto">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary"
            >Steve Morse announces his departure from Deep Purple after 28 years
            with the band</strong
          >
          <h3 class="mb-0">
            <a class="text-dark" href="#">Featured post</a>
          </h3>
          <div class="mb-1 text-muted">July 14</div>
          <p class="card-text mb-auto">
            Steve Morse has stepped down permanently from Deep Purple to care
            for his wife, Janine, who has cancer. Earlier in March, the
            guitarist announced that he would be taking a hiatus from the band,
            in the hope of returning to the fold once her health improved.
          </p>
          <a href="#">Continue reading</a>
        </div>
        <img
          class="card-img-right flex-auto d-none d-md-block"
          data-src="holder.js/200x250?theme=thumb"
          alt="Thumbnail [200x250]"
          style="width: 400px"
          src="../static/images/steve.jpg"
          data-holder-rendered="true"
        />
      </div>
    </div>
    <div class="col-md-12">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-success"
            >Vance Joy: “A lot of the songs on this album were inspired by my
            own experiences”</strong
          >
          <h3 class="mb-0">
            <a class="text-dark" href="#">Featured post</a>
          </h3>
          <div class="mb-1 text-muted">July 11</div>
          <p class="card-text mb-auto">
            It’s no surprise that Vance Joy is one of the most laidback dudes in
            music – the man’s entire catalogue is tailor-made to be listened to
            from a hammock on the beach in the middle of summer. So when the
            pandemic hit, Joy (real name James Keogh) wasn’t too fazed about
            losing the backbone of his artistry, his penchant for piquant
            collaborations.
          </p>
          <a href="#">Continue reading</a>
        </div>
        <img
          class="card-img-right flex-auto d-none d-md-block"
          data-src="holder.js/200x250?theme=thumb"
          alt="Thumbnail [200x250]"
          src="../static/images/vance.jpg"
          data-holder-rendered="true"
          style="width: 400px"
        />
      </div>
    </div>
  </div>
</body>
<footer class="bg-light pb-3 py-3">
  <div class="container text-center">
    <p class="font-italic text-muted mb-0">
      &copy; Copyrights tune.in All rights reserved.
    </p>
  </div>
</footer>
