{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <img
        src="{% static 'images/appLogoNoTitle.png' %}"
        class="app-logo collapse navbar-collapse"
        alt="logo for Tune.In"
      />
      <div class="container-fluid">
        <a class="navbar-brand title-text" href="/">TUNE.IN</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item title-menu">
              <a class="nav-link hover-underline-animation" href="/"> Home </a>
            </li>
            <li class="nav-item title-menu">
              <a class="nav-link hover-underline-animation" href="/collections">
                Collections
              </a>
            </li>
            <li class="nav-item title-menu">
              <a class="nav-link hover-underline-animation" href="/artist">
                Become an Artist
              </a>
            </li>
            <li class="nav-item title-menu">
              <a class="nav-link hover-underline-animation" href="/aboutus">
                About Us
              </a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle title-menu hover-underline-animation"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ request.user }}
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item hover-underline-animation" href="#"
                    >Profile</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a
                    class="dropdown-item hover-underline-animation"
                    href="/logout"
                    >Logout</a
                  >
                </li>
              </ul>
            </li>
            {% else %}
            <li class="nav-item title-menu">
              <a class="nav-link hover-underline-animation" href="/login">
                Login
              </a>
            </li>
            <li class="nav-item title-menu">
              <a class="nav-link hover-underline-animation" href="/signup">
                Register
              </a>
            </li>
            {% endif %}
          </ul>
          <span class="navbar-text subtitle-text">"find your inner music"</span>
        </div>
        <li class="nav-item title-menu">
          <a class="nav-link hover-underline-animation" href="/cart">
            View Cart
          </a>
        </li>
      </div>
    </nav>
    <script>
      $(".nav-link").click(function () {
        $(".nav-link").removeClass("active");
        $(this).addClass("active");
      });
    </script>
  </body>
</html>
